    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h4>Who We Are?</h4>
                <p>Cheapest Websites Melbourne is a trusted choice when looking for a quality small business website design, built swiftly, at an affordable unbeatable price because more than 500 customers can't be wrong. That's how many small and medium size businesses have shown trust in us to build their web design. With the majority of our customers getting website designs completed in 2-3 days, we can help your business get on the internet in very quick time. Compare this to our competitors where build times are regularly in the many months.</p>
                <p>We only use the latest and updated code to build your website and all the websites we build are mobile responsive, so your website will work across all mobile and tablet devices.</p>
                <a href="#quality" class="page-scroll btn btn-default btn-lg">What We Offer?</a>
            </div>
        </div>
    </section>
