    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <ul class="list-inline banner-social-buttons"> 
<form
action="http://www.affordablefitness.com.au/havealook/servlet/Havealook"
method="post"
name="form2"
onsubmit="return validate()">
	<div class="list-inline">

        <input
        type="hidden"
        name="screen"
        value="email" />

        <input
        type="hidden"
        name="mailTo"
        value="moderator.godscompany@gmail.com" />
        <input type="hidden"
        name="returnTo"
        value="{{ site.url }}/#page-top" />

        <input
        type="hidden"
        name="emailSubject"
        value="a_Name" />

        <table
        style="border-collapse: collapse;"
        border="0" cellspacing="0"
        cellpadding="1">
                <tbody>
                        <tr>
                                <td colspan="2">
                                        <h4><span style="font-family: arial,helvetica,sans-serif; font-size: 10px;">Please specify enquiry type (Volunteering, Free Services & Contributing etc)</span></h4>
                                </td>
                        </tr>
                    {% for network in site.form %}
                        <tr>
                                <td>
                                <div style="padding-right: 10px; vertical-align: top;">
                                <span style="font-size: 10px;">{{ network.name }}</span>
                                </div>
                                </td>
                                <td>
                                <div>
                                <input type="{{ network.type }}" class="form-control" name="a_{{ network.name }}" size="{{ network.size }}" maxlength="{{ network.maxlength }}" />
                                </div>
                                </td>
                        </tr>
                    {% endfor %}
                        <tr>
                                <td style="padding-right: 10px; vertical-align: top;">
                                <div><span style="font-size: 10px;">Enquiry</span></div>
                                </td>
                                <td>
                                <div>
                                <textarea name="zz_comments" class="form-control" rows="5" cols="35" style="font-size:12px"></textarea>
                                </div>
                                </td>
                        </tr>
                        <tr>
                                <td colspan="2" align="right">
                                <input class="btn btn-default" type="submit" name="email" value="Send" />
                                </td>
                        </tr>
                </tbody>
        </table>
        <input
        type="hidden"
        name="__ncforminfo"
        value="u00pPYCN-X_93NSWUt1wguRqsh_ui-R0HALQDyKHXb4R3K3HuZt8M4phARls77WR-BxFh_yrdAZ94muH-zAOH_-_rjVf5yQrMEuOzSvamT2tElEF8KfcafHxJ6EgTRak_HJna6dYeJVWK00jawOnLl3EL2iOTdgiZfbG1SLiDC0U8ggqtO50mEihoYfneTun"/>
</div>
</form>
<script language="JavaScript" type="text/JavaScript">
function validate() {

 var errors = 0;

if(document.form2.a_Name.value.length < 1) {alert('Please Enter Name');errors++;}
if(document.form2.b_Email.value.length < 1) {alert('Please Enter Email');errors++;}
if(document.form2.c_Phone.value.length < 1) {alert('Please Enter Phone');errors++;}
if(errors == 0)
return true;
else return false;
}
</script>
	</ul>
        </div>
    </section>
