    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Order now</h2>
                    <p>You can order website similar to this.</p>
                    <a href="http://cheapestwebsitesmelbourne.50bucks.info/#contact" class="btn btn-default btn-lg">Contact Us</a>
                </div>
            </div>
        </div>
    </section>
