    <!-- FAQ Section -->
    <section id="faq" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h4>Frequent Questions </h4>
                        <h5>Which plan is right for me?</h5>
		<div class="row" id='discover'>
				<div class="col-md-4 col-xs-12 hov1">
					<img src="img/SILVER100x100.png" style="border-radius: 50%; margin-bottom: 30px;">
					<h5 class='xxsmall-h transition-h'>Silver - $199</h5>
					<div class="full-text">
If you want to keep things simple and want to focus more on your services/products, then our $199 silver plan is for you.
					</div>
				</div>

				<div class="col-md-4 col-xs-12 hov2">
					<img src="img/GOLD100x100.png" style="border-radius: 50%; margin-bottom: 30px;">
					<h5 class='xxsmall-h transition-h'>Gold - $299</h5>
					<div class="full-text">
On the other hand, if you are looking for a business website, but still want to keep things simple with a standard 5 pager design, then our $299 plan will work.
				</div>
				</div>

				<div class="col-md-4 col-xs-12 hov3">
					<img src="img/PLATINUM100x100.png" style="border-radius: 50%; margin-bottom: 30px;">
					<h5 class='xxsmall-h transition-h'>Platinum - $399</h5>
					<div>
Gold plan with a custom logo designed for your website and business cards.
					</div>
				</div>
			</div>
<br>
                                If you are an eshtablished business and want to give that 'corporate' look and feel, aren't afraid of updating new content regularly and you like the freedom to customise to suit your brand, then the CUSTOM plan is probably what you are looking for.
<br>
<br>
                        <h5>Can I use a custom domain name?</h5>
                                Yes you can! If you already own a domain name, we can easiily configure it. If you need a domain name, you can purchase one from us, or any other domain name provider as well. Either way, we can walk you through the process.
<br>
<br>
                        <h5>Is hosting included?</h5>
                                Yup! your websites will be completely hosted so there is no need to worry about purchasing additional hosting.
<br>
<br>
                        <h5>Should I order now?</h5>
                                Yup! The future depends on what you do today <br>and you are just a click-away from taking the first step to achieve your Dream. 
<br>
They say
<br>
Believe in your dream.
Visualize your dream.
Expect a hard way ahead.
Take one bite at a time.
<br>
Don’t wait until the situation is perfect.
Don’t wait until other people agree with you.
Don’t wait until your skill is good.
the best time to start is "NOW". 
<br>
<br>

                        <h5>What if I have more questions?</h5>
                <a href="mailto:sales@cheapestwebsitesmelbourne.com.au" class="page-scroll btn btn-default btn-lg">Get in Touch</a>
            </div>
        </div>
    </section>
