    <!-- FAQ Section -->
    <section id="faq" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h4>Frequent Questions </h4>
                        <h5>Which plan is right for me?</h5>
                                <p>
                                If you want to keep things simple and want to focus more on your services/products, then our $200 silver plan is for you. On the other hand, if you are looking for a business website, but still want to keep things simple with a standard 5 pager design, then our $300 plan will work. Have a custom logo designed and added to your website just for $100 (included in our platinum plan). If you are an eshtablished business and want to give that 'corporate' look and feel, aren't afraid of updating new content regularly and you like the freedom to customise to suit your brand, then the CUSTOM plan is probably what you are looking for.
                                </p>
                        <h5>Can I use a custom domain name?</h5>
                                <p>
                                Yes you can! If you already own a domain name, we can easiily configure it. If you need a domain name, you can purchase one from us, or any other domain name provider as well. Either way, we can walk you through the process.
                                </p>
                        <h5>Is hosting included?</h5>
                                <p>
                                Yup! your websites will be completely hosted so there is no need to worry about purchasing additional hosting.
                                </p>
                        <h5>What if I have more questions?</h5>
                <a href="#contact" class="page-scroll btn btn-default btn-lg">Get in Touch</a>
            </div>
        </div>
    </section>
