    <!-- FAQ Section -->
    <section id="faq" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h4>Frequent Questions </h4>
                        <h5>Which plan is right for me?</h5>
                                <p>
		<div class="row discover" id='discover'>
				<div class="col-md-4 col-xs-12 hov1">
					<img src="img/SILVER100x100.png" style="border-radius: 50%; margin-bottom: 30px;">
					<h4 class='xxsmall-h transition-h'>Silver - $199</h4>
					<div class="full-text">
If you want to keep things simple and want to focus more on your services/products, then our $199 silver plan is for you.
					</div>
				</div>

				<div class="col-md-4 col-xs-12 hov2">
					<img src="img/GOLD100x100.png" style="border-radius: 50%; margin-bottom: 30px;">
					<h4 class='xxsmall-h transition-h'>Gold - $299</h4>
					<div class="full-text">
On the other hand, if you are looking for a business website, but still want to keep things simple with a standard 5 pager design, then our $299 plan will work.
				</div>
				</div>

				<div class="col-md-4 col-xs-12 hov3">
					<img src="img/PLATINUM100x100.png" style="border-radius: 50%; margin-bottom: 30px;">
					<h4 class='xxsmall-h transition-h'>Platinum - $399</h4>
					<div class="full-text">
Gold plan with a custom logo designed for your website and business cards.
					</div>
				</div>
			</div>
<br>
                                If you are an eshtablished business and want to give that 'corporate' look and feel, aren't afraid of updating new content regularly and you like the freedom to customise to suit your brand, then the CUSTOM plan is probably what you are looking for.
                                </p>
                        <h5>Can I use a custom domain name?</h5>
                                <p>
                                Yes you can! If you already own a domain name, we can easiily configure it. If you need a domain name, you can purchase one from us, or any other domain name provider as well. Either way, we can walk you through the process.
                                </p>
                        <h5>Is hosting included?</h5>
                                <p>
                                Yup! your websites will be completely hosted so there is no need to worry about purchasing additional hosting.
                                </p>
                        <h5>What if I have more questions?</h5>
                <a href="#contact" class="page-scroll btn btn-default btn-lg">Get in Touch</a>
            </div>
        </div>
    </section>
