    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="intro-text animated fadeInRightBig">Cheapest Websites Melbourne</h1>
                        <div class="intro-text animated zoomIn">Welcome<br>to our responsive and mobile friendly<br> website design services.</div>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-hand-o-up animated infinite pulse"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
