<!DOCTYPE html>
<html>
  <head>
    {% include meta.html %}
    {% include format.html %}
    {% include favicon.html %}
  </head>
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}
    {% include about.html %}
    {% include quality.html %}
    {% include whyus.html %}
    {% include download.html %}
    {% include faq.html %}
    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}
    {% include JB/analytics %}
    </body>
</html>
